@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primary-color: #22254b;
$secondary-color: #373b69;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  background-color: $secondary-color;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;

  .form {
    background-color: $primary-color;
    padding: 5px;
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    .search {
      border: none;
      background-color: transparent;
      color: #fff;
      font-family: inherit;
      font-size: inherit;

      &::placeholder {
        color: #7378c5;
      }

      &:focus {
        outline: none;
        background-color: $secondary-color;
        border-radius: 50px;
        padding: 5px 10px;
        box-shadow: -3px 0px 5px rgba($color: #000000, $alpha: 0.2), 3px 2px 5px rgba($color: #000000, $alpha: 0.2);
      }
    }

    .search-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: inherit;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  position: relative;
  width: 300px;
  margin: 1rem;
  background-color: $secondary-color;
  box-shadow: 0 4px 5px rgba($color: #000000, $alpha: 0.2);
  overflow: hidden;
  border-radius: 5px;

  img {
    width: 100%;
  }

  .movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;

    h3 {
      margin-top: 0;
    }

    span {
      background-color: $primary-color;
      padding: 0.25rem .5rem;
      border-radius: 3px;
      font-weight: bold;

      &.green {
        color: lightgreen;
      }
      &.orange {
        color: orange;
      }
      &.red {
        color: red;
      }
    }
  }

  .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }

  &:hover .overview{
    transform: translateY(0);
  }

}

